.box {
  flex: 0 0 285px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px #666666;
  background: rgba(255, 255, 255, 0.4);
}

.title {
  text-transform: uppercase;
  margin: 0 0 15px 0;
  text-align: center;
  padding: 20px 0 0 0;
}

.form {
  padding: 0 20px 20px;
}

.label {
  text-transform: uppercase;
  font-size: 15px;
  padding: 0 10px;
  margin: 5px;
}

.textField,
.textMultField {
  margin: 0 10px;
  height: 24px;
  width: calc(100% - 20px);
}

.textMultField {
  height: 60px;
  resize: none;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
}

.btn {
  height: 27px;
  width: 100px;
  cursor: pointer;
}
